* begin,

main {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.time {
  float: right;
  margin-right: 5px;
}

.seconds {
  float: right;
  margin-right: 5%;
}

#highScoreList {
  display: none;
  color: red;

}

.startBtn {
  background-color: gray;
  padding: 2%;
  border-width: 4%;
  width: 12%;
  display: block;
  border-radius: 50%;

}

main li {
  border-radius: 12%;
  margin-bottom: 20px;
}

p {
  text-align: center;
}

.startPage {
  position: relative;
  margin: 20px;

}

.question {
  text-shadow: black;
  font-size: 36px;
}

.anwswer {

  font-size: 24px;
}

.endPage {
  position: relative;
  margin: 20px;

}

#wrong {
  font-size: 24px;
  font-style: italic;
  color: #4b0101;
  text-align: center;
}


@media: screen max width 900px;

main u,
p {
  font-size: large;

}

main li {
  font-size: medium;
}

.startBtn {
  width: 25%;
}